/* ===== NAVBAR CUSTOM STYLING ===== */
.custom-navbar {
  background: rgba(0, 0, 0, 0.6);          /* Glass effect */
  backdrop-filter: blur(10px);             /* Blur background */
  transition: all 0.3s ease-in-out;
}

.custom-navbar.scrolled {
  background: rgba(0, 0, 0, 0.9);          /* Darker on scroll */
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

/* Logo */
.navbar-logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
  filter: drop-shadow(0px 0px 4px rgba(255,255,255,0.4));
  transition: transform 0.2s ease;
}

.navbar-logo:hover {
  transform: scale(1.05);
}

/* Nav Links */
.nav-link {
  color: #f1f1f1 !important;
  margin: 0 6px;
  font-weight: 500;
  transition: color 0.3s, transform 0.2s ease;
}

.nav-link:hover {
  color: #00ff00 !important;
  transform: translateY(-2px);
  background-color: #f1f1f1;
    border-radius: 4px;
}

/* Active Link */
.nav-link.active {
  color: #00ff00  !important;
  font-weight: 600;
  border-bottom: 2px solid #00ff00 ;
}

/* Buttons */
.btn-outline-light {
  border-radius: 20px;
  font-weight: 500;
}

.btn-warning {
  border-radius: 20px;
  font-weight: 600;
}

/* Mobile */
@media (max-width: 991px) {
  .nav-link {
    padding: 10px 0;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }

  .btn-outline-light,
  .btn-warning {
    width: 100%;
    margin-top: 10px;
  }
}
